---
layout: layouts/base.njk
---

For those that know, or don't know, or not yet. I'm ready for Olivia Evans Fletcher. December 2nd 2025.

Waiting since May 2022. D6 Parq Hotel, Vancouver.

{% set postslist = collections.posts  %}

{% include "postslist.njk" %}
