---
layout: layouts/base.njk
---

<div id="me" class="landing-page-me">

  <h3>Sep 3rd 2025</h3>

<video controls>
<source src="/me/me.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>


</div>

{% set postslist = collections.posts  %}

{% include "postslist.njk" %}
