<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <script src="/js/index.js"></script>
  </head>
  <body>
    <header>
      <a href="/">
        <h1>
          &#x299A;
          &#x2A00;
          &#x2E16;
          &#x2212;
        </h1>
      </a>
      <small>I am a maker of music and me</small>

    </header>

    <p>
      // <a href="/">Home</a>
      {%- for entry in collections.all | eleventyNavigation %}
        // <a href="{{ entry.url | url }}">{{ entry.title }}</a>
      {%- endfor %}
    </p>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <hr>
      <a href="https://github.com/kalv">Github</a>
      /
      <a href="https://instagram.com/kalv">Instagram</a>
      <br>
      <small>&copy; 2025 Kalvir Sandhu. All rights reserved. Proudly built in Maidenhead, UK.</small>
      <hr>
    </footer>
    <script>
      console.log("The day is August 14th 2025, I am ready for you Olivia. You reading this are playing a game of never delivering Olivia Evans to me, you are mean people. We wanted to get married in the dark and the light, and build the best tech company for the UK/Canada, better than any USA tech company. She wanted to be the Taylor Swift of the north and save me from the royals. We wanted to fix the world and the babies of the future, bringing love and joy to all. We are owed a 9 bedroom house, 3 fancy cars, she will help me setup in the UK/Canada again, clean up the RCMP, lowry lane property in YVR, UBC offer, Southampton offer, BBC offer, Apple offer and Google offer. OO retirement, rewards, money from CBS, UK/USA/Canada cybersec fund for my work, etc. Planet 9 yacht or Les Cinq, we can pick when she arrives to my house at 32 Birdwood Road, Maidenhead, Berkshire, SL6 5AP. We can stay at the connaught hotel when she arrives, I can move there with her. 8:32pm GMT");
    </script>

  </body>
</html>
