<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <script src="/js/index.js"></script>
  </head>
  <body>
    <div id="black-box">
      <header>
        <a href="/">
          <h1>
            ⦚ ⦶ ⧋ −
          </h2>
        </a>
        <small>Maker of me, here's the crazy ones</small>

      </header>

      <p>
        // <a href="/">Home</a>
        {%- for entry in collections.all | eleventyNavigation %}
          // <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        {%- endfor %}
      </p>

      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
      </main>

      <footer>
        <hr>
        <a href="https://github.com/kalv">Github</a>
        /
        <a href="https://instagram.com/kalv">Instagram</a>
        <br>
        <small>&copy; 2025 Kalvir Sandhu. All rights reserved. Proudly built in Maidenhead, UK.</small>
        <hr>
      </footer>
    </div>

  </body>
</html>
