<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <script src="/js/index.js"></script>
  </head>
  <body>
    <header>
      <a href="/">
        <h1>
          &#x299A;
          &#x2A00;
          &#x2E16;
          &#x2212;
        </h1>
      </a>
      <small>I am a maker of music and me</small>

    </header>

    <p>
      // <a href="/">Home</a>
      {%- for entry in collections.all | eleventyNavigation %}
        // <a href="{{ entry.url | url }}">{{ entry.title }}</a>
      {%- endfor %}
    </p>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <hr>
      <a href="https://github.com/kalv">Github</a>
      /
      <a href="https://instagram.com/kalv">Instagram</a>
      <br>
      <small>&copy; 2025 Kalvir Sandhu. All rights reserved. Proudly built in Maidenhead, UK.</small>
      <hr>
    </footer>
    <script>
      console.log("To world on August 17th 2025 9:22am GMT, I am waiting for a lovely date with my 'Taylor Swift' (scorpio) to have fun in the new world. I have fixed people's brains for free with Deltos and looking forward to retire from my work with Apple and claiming my money I have earnt from 1994 from the TCP/IP stack with the Apple Newton. I will live in international waters for the foreseeable future. I am a cast out son of Diana Spencer, owner of the earl john spencer and given brutal torture for getting recognition of my work for the USA/UK/Canada because I'm brown and a gifted polymath genius, never given a bottle of water since 2001, a lady, massages, etc. nor a dollar/pound. I own a CBS asset and many more that has not been given to me. I am waiting, you all know my address.");
    </script>

  </body>
</html>
